---
import Layout from '../layouts/Layout.astro';
import CardWrapper from '../components/CardWrapper.astro';
import { cards } from '../data/cardContent';
---

<Layout title="Thomas Skjerdal - Personal Website">
  <main class="container">
    <div class="card-grid">
      {cards.map((card) => (
        <CardWrapper
          isUnique={card.isUnique}
          title={card.title}
          content={card.content}
          componentName={card.component}
          position={card.position}
          className="card"
          style={`grid-row: ${card.position.row}; grid-column: ${card.position.col} / span ${card.position.span}`}
        />
      ))}
    </div>
  </main>
</Layout>

<script>
	console.log('index.astro script executed');
</script>

<style lang="scss">
@import '../styles/variables';
@import '../styles/mixins';

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;

  @include respond-to(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-to(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(small) {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: rgba(26, 25, 29, 0.5);
  border-radius: 1rem;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

	</style>
	