---
import Layout from '../layouts/Layout.astro';
import CardWrapper from '../components/CardWrapper.astro';
import { cards } from '../data/cardContent';
---

<Layout title="Thomas Skjerdal - Personal Website">
  <main class="container">
    <div class="card-grid">
      {cards.map((card) => (
        <CardWrapper
          isUnique={card.isUnique}
          title={card.title}
          content={card.content}
          componentName={card.component}
          position={card.position}
          className="card"
        />
      ))}
    </div>
  </main>
</Layout>

<script>
	console.log('index.astro script executed');
</script>
