---
import Card from './Card.vue';
import PokemonCard from './PokemonCard';

const { isUnique, title, content, componentName, position, className, style, videoPath } = Astro.props;
const span = position?.span || 1;
---

<div class={`card ${className || ''}`} data-span={span} style={`grid-column: span ${span}; display: grid;`}>
  {isUnique ? (
    <PokemonCard 
      client:load 
      className={className} 
      componentName={componentName}
      position={position}
      title={title}
      content={content}
      style={style}
    />
  ) : (
    <Card 
      client:load 
      className={className} 
      componentName={componentName}
      position={position}
      title={title}
      content={content}
      videoPath={videoPath}
    />
  )}
</div>

<style lang="scss">
  @import '../styles/variables';
  @import '../styles/mixins';
  @import '../styles/functions';

  :global(.card-grid) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    grid-auto-flow: dense;
    max-width: breakpoint(large);

    @include respond-to(large) {
      grid-template-columns: repeat(3, 1fr);
      max-width: breakpoint(medium);
    }

    @include respond-to(medium) {
      grid-template-columns: repeat(2, 1fr);
      max-width: breakpoint(small);
    }

    @include respond-to(small) {
      grid-template-columns: repeat(1, 1fr);
      max-width: breakpoint(x-small);
    }
  }

  .card {
    &[data-span="2"] {
      grid-column: span 2;
    }

    &[data-span="3"] {
      grid-column: span 3;
    }

    @include respond-to(medium) {
      &[data-span="3"] {
        grid-column: span 2 !important;
      }
    }

    @include respond-to(small) {
      &[data-span="2"],
      &[data-span="3"] {
        grid-column: span 1 !important;
      }
    }
  }
</style>