---
import Card from './Card.vue';
import PokemonCard from './PokemonCard';

const { isUnique, title, content, componentName, position, className, style } = Astro.props;
const span = position?.span || 1;
---

<div class={`card ${className || ''}`} data-span={span} style={style}>
{isUnique ? (
  <PokemonCard 
    client:load 
    className={className} 
    style={style} 
    componentName={componentName}
    position={position}
    title={title}
    content={content}
  />
) : (
  <Card 
    client:load 
    className={className} 
    style={style} 
    componentName={componentName}
    position={position}
    title={title}
    content={content}
  />
)}
</div>
